body{
    background: #001427;
    font-family: 'montserrat';
}

#sec{

    background-color: #FDCA40;
    width: 320px;
    height: 340px;
    /* margin-left: 30px; */
    box-shadow: 10px 10px 25px -10px #FDCA40;
}

.img{

    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.cardText{

    text-align: center;
    padding-top: 26px;
    padding-bottom: 55px;
    color: #001427;
    /* text-shadow: 0 0 3px #001427; */
}

.socialHandle{

    padding-left: 12px;
    text-shadow: 0 0 3px #001427;
}

.socialHandle:hover{

    cursor: pointer;
    color: #000;;
}

a{

    text-decoration: none;
    color: #001427;
    text-shadow: 0 0 3px #001427;
}

.cardRow{

    /* display: block; */
    position: relative;
    /* left: 40px; */
    top: 50px;

    padding-top: 30px;
    padding-bottom: 20px;
}

.card{

    margin: auto;
}